<html>

<head>
    <meta charset="UTF-8">
    <title>Famous & High Models</title>
    <link rel="stylesheet" type="text/css" href="/css/paper.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

    <% include ../partials/header %>

    <div id="container">

        <div id="modelsgrid">
            <% models.forEach(function(model){ %>

                <div class="modelbox">
                    <a href="/models/<%= model.id %>">
                        <div class="modelimage">
                            <img class="no-border" src="<%= model.Images[0].link %>" alt="<%= model.Images[0].title %>">
                        </div>
                        <div class="modelname">
                            <h4>
                                <%= model.get('fullName') %>
                            </h4>
                        </div>
                    </a>
                </div>

            <% }); %>
        </div>

    </div>

</body>

</html>