<html>

<head>
    <meta charset="UTF-8">
    <title>Famous & High Models</title>
    <link rel="stylesheet" type="text/css" href="/css/paper.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/icon.min.css" />
</head>

<body>

    <% include ../partials/header %>

    <div id="container">

		<h1>Admin</h1>

		<div class="adminbuttons">
			<a href="/admin/models" class="paper-btn">Manage Models</a>
			<a href="/admin/categories" class="paper-btn">Manage Categories</a>
			<a href="/admin/images" class="paper-btn">Manage Images</a>
		</div>

		<div class="logout">
			<a href="/logout" class="paper-btn">Log out</a>
		</div>


    </div>

</body>

</html>