<!DOCTYPE html>
<html>
<head>
	<title>Passport with Sequelize</title>
</head>
<body>
<h2>Dashboard</h2>
<h5>Hurray! You are logged in.</h5>

<p>
	<a href="/admin/models">
		<button>Manage Models</button>
	</a>

	<a href="/admin/categories">
		<button>Manage Categories</button>
	</a>

	<a href="/admin/images">
		<button>Manage Images</button>
	</a>
</p>

<p>
	<a href="/logout">
		<button>Log out</button>
	</a>
</p>

</body>
</html>