<html>

<head>
    <meta charset="UTF-8">
    <title>Famous & High Models</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/paper.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/icon.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/js/semantic.min.js"></script>
</head>

<body>

    <% include ../partials/header %>

    <div id="container">

		<h1>Admin</h1>

		<div class="adminbuttons">
			<a href="/admin/models" class="paper-btn">Manage Models</a>
			<a href="/admin/categories" class="paper-btn">Manage Categories</a>
      <a href="/admin/images" class="paper-btn">Manage Images</a>
      <a href="/admin/applicants" class="paper-btn">Applicants</a>
		</div>

		<div class="logout">
			<a href="/logout" class="paper-btn">Log out</a>
		</div>


    </div>

    <script>
		$('.ui.dropdown').dropdown();
	</script>

</body>

</html>