<div id="header">
    <a href="/" class="logo">
        <img class="shadow shadow-hover" src="/img/logo.png" alt="Famous and High Models logo">
        <h1>Models</h1>
    </a>
    <div class="menu">
            <a href="/admin" class="paper-btn" popover="Edit stuff" popover-position="bottom" <%= currentUser ? '' : 'hidden' %>>Admin</a>
            <a href="/models" class="paper-btn" popover="Browse" popover-position="bottom">Models</a>
            <a href="/favorites" class="paper-btn" popover="Your Favorites" popover-position="bottom">Favorites</a>
            <a href="#" class="paper-btn" popover="Coming soon!" popover-position="bottom">Join</a>
            <a href="#" class="paper-btn" popover="Coming soon!" popover-position="bottom">About Us</a>
            <a href="https://instagram.com/famousandhigh" class="paper-btn" popover="@famousandhigh" popover-position="bottom">
                <i class="instagram icon"></i>
            </a>
    </div>
</div>