<div id="header">
    <a href="/" class="logo">
        <img class="shadow shadow-hover" src="/img/logo.png" alt="Famous and High Models logo">
        <h1>Models</h1>
    </a>
    <div class="menu">
        <a href="/admin" class="paper-btn" <%= currentUser ? '' : 'hidden' %>>Admin</a>
        <a href="/models" class="paper-btn">Models</a>
        <a href="/favorites" class="paper-btn">Favorites</a>
        <a href="#" class="paper-btn" popover="Coming soon!" popover-position="bottom">Join</a>
        <a href="#" class="paper-btn" popover="Coming soon!" popover-position="bottom">About Us</a>
        <a href="#" class="paper-btn" popover="Coming soon!" popover-position="bottom">Contact</a>
    </div>
</div>