<html>

<head>
    <meta charset="UTF-8">
    <title>Famous & High Models</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/paper.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/icon.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/js/semantic.min.js"></script>
</head>

<body>

    <% include ../../partials/header %>

    <div id="container">

        <div class="pagetitle">
            <h1>Edit Category</h1>
        </div>

        <form id="edit-model-category" name="edit-model-category" method="post" action="/admin/categories/<%= category.id %>/?_method=PUT">
            <label for="categoryname">Category Name</label>
            <input class="text" name="categoryname" placeholder="Category Name" type="text" value="<%= category.name %>"/>
            <button class="btn-block">Update</button>
        </form>

        <form class="form-inline" id="delete-form" action="/admin/categories/<%= category.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>

    </div>

    <script>
        $('.ui.dropdown').dropdown();
    </script>

</body>

</html>