<html>

<head>
    <meta charset="UTF-8">
    <title>Famous & High Models</title>
    <link rel="stylesheet" type="text/css" href="/css/paper.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/icon.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

    <% include partials/header %>

    <div id="container">

        <div class="aboutcontainer">
            <div class="abouttext">
                <h3>ABOUT</h3>

                <p>Lorem ipsum dolor amet hella knausgaard gochujang actually, listicle banh mi squid church-key pok pok whatever live-edge microdosing ennui hashtag raclette.</p>
                <p>Shaman helvetica crucifix mixtape gentrify whatever street art lyft truffaut plaid farm-to-table next level pabst. Everyday carry tote bag hammock post-ironic narwhal raw denim taiyaki four loko deep v prism fashion axe dreamcatcher. Aesthetic flexitarian chillwave activated charcoal waistcoat. Snackwave venmo af neutra, sriracha humblebrag glossier vape intelligentsia celiac keffiyeh vexillologist direct trade helvetica kitsch. Vexillologist neutra poutine vaporware, +1 scenester vinyl godard unicorn banjo direct trade beard swag whatever live-edge.</p>
                <p>Venmo kinfolk craft beer PBR&B drinking vinegar, street art bitters poutine shabby chic echo park. Tumblr master cleanse ennui, organic DIY fanny pack church-key lumbersexual schlitz marfa. 8-bit cornhole chicharrones etsy edison bulb, kombucha raclette street art you probably haven't heard of them poke mumblecore vexillologist tumblr. Echo park cliche paleo biodiesel, PBR&B semiotics VHS seitan kale chips tumblr tattooed. Four loko fingerstache shoreditch offal activated charcoal pickled.</p>
            </div>

            <div class="aboutpicture">
                <img src="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-259844.jpg" alt="">
            </div>
        </div>

    </div>

</body>

</html>