<html>

<head>
    <meta charset="UTF-8">
    <title>Contact - Famous & High Models</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/paper.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/icon.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/js/semantic.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
</head>

<body>

    <% include partials/header %>

    <div id="container">

        <div class="contactcontainer">
            <div class="contacttext">
                <h5>Contact</h5>

                <p>OPEN CALL: Every Wednesday from 1pm-3pm</p>

                <p>0000 ASD ASDASD Road Suite 000<br>
                Las Vegas, NV 00000</p>

                <p>Tel 000-000-0000</p>

                <p>#FHModels<br>
                #FHModelsDoWork</p>

                <p>(NOTE: We do not accept walk-ins)</p>
            </div>

            <div class="contactmap">
                    <iframe
                    allowfullscreen="true"
                    width="100%"
                    height="450"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBCnvawis_37sXNxE5DgwO66ClLQL0RKrY
                      &q=Space+Needle,Seattle+WA" allowfullscreen>
                  </iframe>
            </div>
        </div>

    </div>

    <script>
        $('.ui.dropdown').dropdown();
    </script>

</body>

</html>