<html>

<head>
    <meta charset="UTF-8">
    <title>Famous & High Models</title>
    <link rel="stylesheet" type="text/css" href="/css/paper.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/icon.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

    <% include partials/header %>

    <div id="container">

      <h1>Admin Login</h1>

      <form id="login" name="login" method="post" action="login">
        <div class="emaildiv">
            <label for="email">Email Address</label>
            <input class="input-block" name="email" type="text" />
        </div>

        <div class="passworddiv">
            <label for="password">Password</label>
            <input name="password" type="password" />
        </div>

        <button class="btn-block">Log In</button>
      </form>

    </div>

</body>

</html>